@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e1e2e;
  color: #bd93f9;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
